
#bg
{
	position: fixed;
	top: 0;
	left: 0;
	z-index:-1;
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

/* ------------------------------------ */
.voffset1 {
  position: relative;
  margin-top: 10px;
}
.voffset2 {
  position: relative;
  margin-top: 20px;
}
.voffset3 {
  position: relative;
  margin-top: 30px;
}
.voffset4 {
  position: relative;
  margin-top: 40px;
}
.voffset5 {
  position: relative;
  margin-top: 50px;
}
.voffset6 {
  position: relative;
  margin-top: 60px;
}
.voffset7 {
  position: relative;
  margin-top: 70px;
}
.voffset8 {
  position: relative;
  margin-top: 80px;
}
.voffset9 {
  position: relative;
  margin-top: 90px;
}
.voffset10 {
  position: relative;
  margin-top: 100px;
}
/* ------------------------------------ */

.footer {
  position: fixed;
  left: 50%;
  bottom: 3%;
  margin-left: -100px;
  font-family: 'Aileron-Bold';
  font-size: 14px;
  color: Snow;
}

.banner {
  position: fixed;
	width: 100%;
	text-align: center;
  /*left: 25%;*/
  z-index: 1;
  font-weight: bold;
  font-family: 'Aileron-UltraLight';
  font-size: 60px;
  font-size: 4vw;
}

a:link, a:active, a:visited {
  /*color: Black;*/
  font-family: 'Aileron-SemiBold';
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  /*color: Snow;*/
  font-family: 'Aileron-SemiBold';
  font-size: 14px;
  text-decoration: none;
}

.nav {
  position:fixed;
  z-index: 5;
  left: 2%;
  top: 5%;
	width: 20%;
}

.nav-title {
  font-family: 'Aileron-SemiBold';
  font-size: 20px;
  font-size: 2vw;
}

.nav-item {
  position: relative;
  margin-left: 20%;
  font-family: 'Aileron-Light';
  font-size: 12px;
  font-size: 1.5vw;
}

.well {
  background: Gray;
}

.headerAlt {
	color: Snow;
}
.navAlt {
	color: Snow;

}

.navMain a:link, a:active, a:visited {
			color: Black;
		}

.navMain a:hover {
			color: Snow;
		}

.hamburger {
	position: relative;
	z-index: 5;
}

a.navLinkAlt:link {color: Snow;}
a.navLinkAlt:active {color: Snow;}
a.navLinkAlt:visited {color: Snow;}
a.navLinkAlt:hover {color: Black;}

.changeBG {
	font-size: 2vw;
	color: Black;
	position:fixed;
  z-index: 5;
  right: 2%;
  top: 5%;
}

.changeBGAlt {
	color: Snow;
}

@font-face {
    font-family: 'Aileron-Bold'; /*a name to be used later*/
    src: url('Fonts\\Aileron-Bold.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Aileron-SemiBold'; /*a name to be used later*/
    src: url('Fonts\\Aileron-SemiBold.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Aileron-Light'; /*a name to be used later*/
    src: url('Fonts\\Aileron-Light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Aileron-UltraLight'; /*a name to be used later*/
    src: url('Fonts\\Aileron-UltraLight.otf'); /*URL to font*/
}
